@keyframes dropdown {
    0% {
        margin-top: 0%;
    }
    100% {
        margin-top: 50%;
    }
}

.container {
    height: 100%;
}

.homepage {
    background-color: rgb(235, 233, 233);
    padding: 50px;
    display: inline-block;
    text-align: center;
    margin-top: 0%;
    position: relative;
    animation: forwards;
    animation-name: dropdown;
    animation-duration: 1.5s;
}